@use '../../colors.scss' as colors;
@use '../../variables.scss' as variables;

$main-padding: 12px;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.processor {
	background: #F7F9F8;
	display: flex;
	height: 100vh;
	display: flex;
	justify-content: space-between;

	.processor-main {
		display: flex;
		flex-direction: column;
		padding: 4 * $main-padding;
		width: 100%;
		overflow-y: scroll;

		.title-bar {
			display: flex;
			justify-content: space-between;
			text-align: left;

			.title {

				font-family: 'Inter';
				font-style: normal;
				font-weight: 700;
				font-size: 26px;
				line-height: 31px;

				color: #3A3A3A;
				@media screen and (max-width: variables.$small) {
					font-size: 18px;
				  }
			}

			.task-bar {
				display: flex;
				justify-content: space-between;

				.task-name {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 700;
					font-size: 26px;
					line-height: 31px;

					color: #3A3A3A;

					margin-right: 2*$main-padding;
					@media screen and (max-width: variables.$small) {
						font-size: 18px;
					  }
					  @media screen and (max-width: variables.$extrasmall) {
						display: none;
					  }
				}

				.task-id {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 26px;
					line-height: 31px;

					color: #6F6F76;

					@media screen and (max-width: variables.$small) {
						font-size: 18px;
					  }

				}
			}
		}

		.input-block {

			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: stretch;
			text-align: left;
			.input-select {

				width: 100%;
				background: #FFFFFF;
				box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.04);
				border-radius: 4px;
				padding: $main-padding;
				padding-bottom: 0;
				padding-right: 0;
				margin-right: $main-padding;

				.select-title {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 9px;
					line-height: 11px;

					color: #9B9B9B;

					.selector {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 17px;

						color: #3A3A3A;
					}
				}
			}

			.submit-btn {
				margin-left: $main-padding;
				width: 300px;

				background: #F2FFFE;
				border-radius: 4px;

				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 30px;

				color: #4FD1C5;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				
			}
		}

		.method-block {

			display: flex;
			flex-wrap: wrap;
			text-align: left;
			margin-top: $main-padding;
			margin-bottom: 2*$main-padding;

			.submethod {
				width: calc(33% - 2*$main-padding);

				@media screen and (max-width: variables.$medium) {
					width: calc(50% - 2*$main-padding);
				}

				background-color: colors.$pure-white;
				margin: $main-padding;
				border-radius: 8px;
				cursor: pointer-;

				.sub-icon {
					padding: $main-padding;

				}

				.sub-title {
					padding: $main-padding;
					padding-top: 0;

					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 24px;

					color: #3A3A3A;

				}

				.sub-desc {
					padding: $main-padding;
					padding-top: 0;

					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;

					color: #6F6F76;
				}
			}
		}

		.table-block {
			height: 100%;
			margin-top: 2 * $main-padding;
			background: #FFFFFF;
			box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
			border-radius: 4px;

			.title {
				margin: 2 * $main-padding;
				text-align: left;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 30px;
				width: 100%;

				letter-spacing: -0.15px;

				color: #3A3A3A;
			}

			.table {
				height: calc(100% - 10 * $main-padding);
				min-height: 200px;

				.table-container {
					background-color: #FFFFFF;

					.data-table {
						min-width: 100%;
						border-radius: 4px;
						border-collapse: collapse;

						.head {
							font-family: 'Inter';
							font-style: normal;
							font-weight: 700;
							font-size: 14px;
							line-height: 150%;
							min-width: 100px;
							letter-spacing: -0.15px;
							background: #F6F8FB;
							padding-top: 0.5 * $main-padding;
							padding-bottom: 0.5 * $main-padding;
							padding-left: 1 * $main-padding;
							outline: 1px solid #F1F1F1;

						}

						.item {
							font-family: 'Inter';
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							line-height: 150%;
							color: #646464;
							background: #FFFFFF;
							padding-top: 0.5 * $main-padding;
							padding-bottom: 0.5 * $main-padding;
							padding-left: 1 * $main-padding;
							outline: 1px solid #F1F1F1;

						}
					}
				}

			}

			.pages {
				display: flex;
				float: right;
				align-items: center;
				background-color: #FFFFFF;
				justify-content: end;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
				width: 100%;

				.filler {
					width: 100%;
				}

				.page-item {
					padding: $main-padding;

					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;

					letter-spacing: -0.15px;

					color: #6F6F76;

					.page-box {
						background-color: colors.$light-grey;
						padding: 4px;
						width: 24px;
						margin-left: 8px;
						margin-right: 8px;
					}
				}

				.page-row {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}