@use '../../colors.scss' as colors;
@use '../../variables.scss' as variables;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$main-padding: 12px;

.hide-on-med {
	@media screen and (max-width: variables.$medium) {
		position: absolute;
		visibility: hidden;
	}
}

.show-on-med {
	@media screen and (max-width: variables.$medium) {
		position: flex;
		visibility: visible;
	}
}
.wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
	z-index: 99;

    .menu {
      z-index: 0;
      position: absolute;
      top: 4 * $main-padding;
      left: 0.5 * $main-padding;
	  font-size: 2em;
      cursor: pointer;
    }
}
.overlay {
	position: absolute;
	bottom: -99%;
	height: 100%;
	left: 0;
	width: 100%;
	transition: all 0.5s ease;

	&.anim {
	  left: 0;
	  bottom: 0;
	  animation: menu-anim 1.5s 1 ease-out forwards;
	  transition: all 0.5s ease;

	  &.reverse-anim {
		left: 0;
		bottom: 0;
		animation: menu-anim 1.5s 1 ease-out reverse;
		width: 25%;
		transition: all 0.5s ease;
	  }
	}

	ul {
	  width: 100%;
	  text-align: center;
	  margin-top: 100px;
	  padding-left: 0;
	  margin-left: -10px;
	  font-size: 2em;
	  font-weight: 800;

	  li {
		margin: 10px 0;

		a {
		  text-decoration: none;
		  color: white;
		  position: relative;
		  display: inline-block;
		  padding: 10px 0;
		  overflow: hidden;

		  &:after {
			display: block;
			border-radius: 2px;
			content: ''; 
			left: 0;
			bottom: -10px;
			height: 5px;
			background: #ffffff;
			transform: translateX(-101%);
		  }

		  &:hover {
			text-decoration: none;

			&:after {
			  animation: border-anim 0.5s 1 ease normal;
			  transform: translateX(0);
			}
		  }
		}

		@keyframes border-anim {
		  0% {
			transform: translateX(-100%);
		  }

		  100% {
			transform: translateX(0);
		  }
		}

	  }
	}
  }

  @keyframes menu-anim {

	0% {
	  left: 0;
	  bottom: -99%;
	  width: 100%;
	}

	33% {
	  left: -99.5%;
	  bottom: -99%;
	  width: 100%;
	}

	66% {
	  left: -99.5%;
	  bottom: 0;
	  width: 100%;
	}

	100% {
	  bottom: 0;
	  left: 0;
	  width: 25%;
	}
  }

.sidebar {
	display: flex;
	flex-direction: column;
	z-index: 99;
	font-family: Inter;
	font-style: normal;
	height: 100%;
	background-color: white;
	width: fit-content;

	.logo {
		background-color: colors.$cyan;
		padding: 32px;
		height: fit-content;

		&.full {
			display: block;
		}

		&.small {
			display: none;

		}
	}

	.info-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: left;
		height: calc(100vh - 100px);

		.title {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 19px;

			color: #3A3A3A;

			margin: 2*$main-padding;
			margin-top: 4*$main-padding;
			margin-bottom: 0.25 * $main-padding;
		}

		.info {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 17px;

			color: #6F6F76;
			margin: 2*$main-padding;
			margin-top: 0;
			margin-bottom: 0;

		}

		.info-container2 {
			display: flex;
			flex-wrap: wrap;
			margin-left: 2*$main-padding;
			margin-top: 2*$main-padding;

			.info-block {
				display: block;
				width: 50%;

				.title2 {
					margin: 0.5*$main-padding;
					margin-left: 0;

					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 150%;
					/* identical to box height, or 18px */


					color: #6F6F76;
				}

				.info2 {
					margin: 0.5*$main-padding;
					margin-left: 0;

					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 150%;
					/* identical to box height, or 21px */


					color: #3A3A3A;
				}
			}

		}

		.table {
			padding: 2*$main-padding;
			margin-bottom: 2*$main-padding;
			height: 100%;

			.table-container {
				.data-table {
					border-radius: 4px;
					width: 100%;
					border-collapse: collapse;

					.head {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 150%;
						color: #3A3A3A;
						background: #F7F9F8;
						padding-top: 0.5 * $main-padding;
						padding-bottom: 0.5 * $main-padding;
						padding-left: 1 * $main-padding;
						outline: 1px solid #F1F1F1;

					}

					.item {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 150%;
						color: #646464;
						background: #F7F9F8;
						padding-top: 0.5 * $main-padding;
						padding-bottom: 0.5 * $main-padding;
						padding-left: 1 * $main-padding;
						outline: 1px solid #F1F1F1;

					}
				}
			}
		}

	}

}