$text-white: #E1F4FF;
$cyan: #4FD1C5;
$light-blue:#4FD1C5;
$white: #F2FFFE;
$black: #333333;
$grey: #9D9D9D;
$light-grey: #F7F9F8;
$pure-white: #FCFCFC;
$red: #FF3D00;
$light-green: #F2FFFE;
$green: #4FD1C5;
$okay-green: #d2f7f4;